/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.game_text {
  color: white;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
}

.char {
  width:100%;
  margin: 0;
  padding: 0;
}
.spell {
  width:25%;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 50%;
}

.mode_text{
  color: white;
  font-size: 100%;
  font-family: arial;
  letter-spacing: 0px;
}




h4 {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.blue {
  box-shadow: 0px 0px 10px 3px #00B6DC;
}

.red {
    box-shadow: 0px 0px 10px 3px #D94A38;
}

.searched {
  box-shadow: 0px 0px 10px 3px gold;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}



.wrapper {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

.game_text {
  font-size: 2.5vw;
}

/* All of this below is to adjust the font size for player names
it was done by trial and error and needs to be abstracted/refactored*/
.player-name {
  font-size: .95vw;
  }

@media (max-width: 1500px) {
  .player-name {
    font-size: 1.25vw;
    }
  .game_text {
    font-size: 3vw;
  }

@media (max-width: 990px) {
  .player-name {
    font-size: 2vw;
    }

@media (max-width: 768px) {
  .player-name {
    font-size: 2.25vw;
    }
  .game_text {
    font-size: 3.5vw;
  }


@media (max-width: 500px) {
  .player-name {
    font-size: 2.5vw;
    }
}
