/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("http://static.lolskill.net/img/background.jpg");
  background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container.narrow{
    max-width: 730px;
  }
}

/* Jumbotron area */
.jumbotron {
  text-align: center;
  border-bottom: 0;
  box-shadow: -5px 5px 10px 0px #00B6DC, 5px -5px 10px 0px #D94A38;
  color: white;
  background-color: rgba(0, 0, 0, .4);
}

.jumbotron .btn {
  font-size: 21px;
}

input[type="text"], textarea {
  border-color: white;
  border-width: 1px;
  color: white;
  background-color: black; 
}


/* ++++++++++++++++++++++++++ DASHBOARD STUFF +++++++++++++++++++ */

/*
 * Main content
 */

.main .page-header {
  margin-top: 0;
}

h1.game_text {
  margin-top: 0;
}

.game_text {
  color: white;
  display: inline-block;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
}

.char {
  width:100%;
  margin: 0;
  padding: 0;
}

.spell {
  width:25%;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 50%;
}

.circle {
  border-radius: 50%;
}

.b_text {
  background-color: #00B6DC;
}

.r_text {
  background-color: #D94A38;
}

.blue {
  box-shadow: 0px 0px 10px 3px #00B6DC;
}

.red {
  box-shadow: 0px 0px 10px 3px #D94A38;
}

.searched {
  box-shadow: 0px 0px 10px 3px gold;
}

.wrapper {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}


/* All of this below is to adjust the font size for player names
it was done by trial and error and needs to be abstracted/refactored*/
.game_text {
  font-size: 2.25vw;
}

.player-name {
  font-size: .8vw;
  color: white;
  font-family: arial;
  letter-spacing: 0px;
  font-weight: bold;
  }

@media (max-width: 1500px) {
  .player-name {
    font-size: 1.1vw;
    }
  .game_text {
    font-size: 3vw;
  }

@media (max-width: 1200px) {
  .player-name {
    font-size: 1.1vw;
    }
  .game_text {
    font-size: 3vw;
  }


@media (max-width: 990px) {
  .player-name {
    font-size: 2vw;
    }

@media (max-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .player-name {
    font-size: 2.25vw;
    }
  .game_text {
    font-size: 3.5vw;
  }

@media (max-width: 500px) {
  .player-name {
    font-size: 2.5vw;
    }
}
