<html>
    <title>Patrick's LoL App</title>
    <body>
        <h1>Your Game Info</h1>
            <h3>Blue Team</h3>
            <ul>
                {% for item in blue_team %}
                <li>Summoner: {{ item.summonerName }}</li>
                <ul>
                    <li><img src="https://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{item.champImage}}.png" alt="{{item.champName}}"  title="{{item.champName}}: {{item.champTitle}}" /></li>
                    <li>Spell 1 = {{item.spell1Id}}</li>
                    <li>Spell 2 = {{item.spell2Id}}</li>
                    <li>Masteries: </li>
                        <ul>
                            {% for mast in item.masteries %}
                            <li>Rank = {{mast.rank}}</li>
                            <li>Id = {{mast.masteryId}}</li>
                            {% endfor %}
                        </ul>
                    <li>Runes:</li>
                        <ul>
                            {% for rune in item.runes %}
                            <li>Id = {{rune.runeId}}</li>
                            <li>Count = {{rune.count}}</li>
                            {% endfor %}
                        </ul>
                </ul>
                {% endfor %}
            </ul>
            <h3>Red Team</h3>
            <ul>
                {% for item in red_team %}
                <li>Summoner: {{ item.summonerName }}</li>
                <li><img src="https://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{item.champImage}}.png" alt="{{item.champName}}" title="{{item.champName}}: {{item.champTitle}}" /></li>
                <ul>
                    <li>Spell 1 = {{item.spell1Id}}</li>
                    <li>Spell 2 = {{item.spell2Id}}</li>
                    <li>Masteries: </li>
                        <ul>
                            {% for mast in item.masteries %}
                            <li>Rank = {{mast.rank}}</li>
                            <li>Id = {{mast.masteryId}}</li>
                            {% endfor %}
                        </ul>
                    <li>Runes:</li>
                        <ul>
                            {% for rune in item.runes %}
                            <li>Id = {{rune.runeId}}</li>
                            <li>Count = {{rune.count}}</li>
                            {% endfor %}
                        </ul>
                </ul>
                {% endfor %}
            </ul>
        </form>
    </body>
</html> 