<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The 3 tags above must come first in the head!  Do not put anything before them. -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Patrick's LoL App</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet"> <!-- Unique styling -->
  </head>

  <body>
    <div class="container narrow"> <!-- Header container -->
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="https://github.com/codeguild2015/patricks_lol_app">About</a></li>
            <li role="presentation"><a href="mailto:patrick.j.mcnally@gmail.com">Contact</a></li> <!-- mailto bad, fix later -->
          </ul>
        </nav>
        <h3 class="text-muted">Patrick's LoL App</h3>
      </div>
    </div> <!-- End header container -->

    <div class="container narrow"> <!-- Main container -->
      <div class="jumbotron">
        <h1>Live Game Stats:</h1>
        <p>Join the battle on Summoner's Rift fully armed with knowldge about your team and your opponents!</p>
        <form method='POST' action='get/game' id='summonerName'>
          <div class="form-group">
            <lable class="sr-only" for="summonerName">Summoner Name</lable>
            <input type="text" class="form-control text-center input-lg" name='summoner_name' id='sum_name_input' placeholder='Enter a summoner name' /> {% csrf_token %}
          </div>
        </form>
        {% if messages %} 
          {% for message in messages %} 
            {% if "search" in message.extra_tags %}
              <p class="alert alert-danger">{{message}}</p>
            {% endif %} 
          {% endfor %} 
        {% endif %}
        <p>Or check out a featured game:</p>
        {% if messages %} 
          {% for message in messages %} 
            {% if "api_down" in message.extra_tags %}
              <p class="alert alert-danger">{{message}}</p>
            {% endif %} 
          {% endfor %}
        {% endif %} 
        {% if player != "" %}
          <form method='POST' action='get/game' id='tryItNow'>
            <input style="display:none;" name='summoner_name' id='sum_name_input' value='{{player}}' />
            <p>
            <input class="btn btn-primary" type="submit" value='{{player}}' /> is playing now!</p>
            {% csrf_token %}
          </form>
        {% endif %}
      </div> <!-- /Jumbotron -->

      <footer class="footer">
        <p>&copy; 2016 Patrick McNally</p>
      </footer>

    </div> <!-- End main container -->
  </body>
</html>
